body {
  background-color: #0ccec4;
  background-image: url(BG_Zeebos.svg);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-size: 12px;
}
.subbody {
  border-style: none;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 10%;
  padding: 2%;
}
.subbody>img {
  border: solid lightgray 5px;
  margin: 2%;
  float: left;

}
p {
  text-align: center;
  padding: 2px;
}
.divider {
  width: auto;
  height: 1px;
  background-color: lightgray;
  display: flex;
  align-self: auto;
}
.links {
  position: relative;
  display: flex;
  align-content: center;
}
.links>ul>li {
  list-style: none;
}
i {
  color: black;
  font-size: 20px;
  padding: 3px;
}
i:hover {
  color: gray;
}
