body {
  display: flex;
  background-color: #0ccec4;
  background-image: url(https://raw.githubusercontent.com/Zeeboszaira/Hi-I-am-Zeebos/master/BG_Zeebos.png);
  background-position: center;
  display: flex;
  align-content: center;
  margin: 10% 10%;
}
div {
  border-style: none;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 5%;
  align-items: center;
}
div>img {
  border: solid lightgray 5px;
  margin: 2%;
  float: left;
}
p {
  text-align: center;
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
}
i {
  width: 50px;
}
